<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.mirukamo.ai.dao.AppointmentMapper">

	<select id="findMyID" parameterType="Users" resultType="Users">
		select *
		from mirukamo_member
		where name=#{name} and email=#{email} and
		email2=#{email2}
	</select>


	<select id="getMyCourse" parameterType="string" resultType="MyCourse">
		select
			num,
			member_id,
			packagename,
			teacher,
			languages
		from mirukamo_mycourse
		where
		 member_id=#{member_id}
	</select>
	
	<select id="myCourseCheck" parameterType="MyCourse" resultType="MyCourse">
		select
			*
		from mirukamo_mycourse
		where
		 member_id=#{member_id} and packagename=#{packagename}
	</select>
</mapper>