<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.mirukamo.ai.dao.AppointmentMapper">

<select id="findMyID" parameterType="Users" resultType="Users">
select * from mirukamo_member
where name=#{name} and email=#{email} and email2=#{email2}
</select>

<select id="getMyCourse" parameterType="string" resultType="MyCourse">
select m.num,
	 member_id,
	course_num,
	start_day, 
	end_day,
	status,
	title,
	teacher,
	languages from mirukamo_mycourse m,mirukamo_course
where member_id=#{id}  
</select>
</mapper>