<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 검색 처리 SQL -->
<mapper namespace="com.mirukamo.ai.dao.CourseMapper">
	<select id="selectCourse" resultType="Course">
		select * from
		mirukamo_course
		order by num
	</select>

	<insert id="insertCourse" parameterType="Course">
		insert into
		mirukamo_course (
		num
		,packagename
		,title
		,teacher
		,languages
		,file_name
		,thumnail
		)
		values (
		mirukamo_course_seq.nextval
		,#{packagename}
		,#{title}
		,#{teacher}
		,#{languages}
		,#{file_name}
		,#{thumnail}
		)
	</insert>
	
	<insert id="insertPackage" parameterType="Course">
	insert into mirukamo_package_info
	values(
	mirukamo_package_info_seq.nextval
	,#{packagename}
	,#{teacher}
	,#{languages}
	)
	</insert>

	<select id="getcourse" resultType="Course">
		select packagename from
		mirukamo_course GROUP BY packagename HAVING COUNT
		(packagename) >= 1
	</select>

	<!-- 수강 패키지 이름 중복 제거해서 가져오기 -->
	<select id="picksensei" resultType="Course" parameterType="int">
		select * from mirukamo_course
		where
		num =#{num}
	</select>

	<select id="sensei" resultType="Course" parameterType="String">
		select
		teacher,num
		from (
		select *
		from mirukamo_course
		where
		teacher =#{teacher}
		)

	</select>

	<!-- 수강 목록 보여주기 -->
	<select id="mirucourse" resultType="Course" parameterType="string">
		select * from mirukamo_course
			where
		packagename =#{packagename}
	</select>
	
	<!-- 수강 신청 -> 값 가져오기 -->
	<select id="yoursenseicours" resultType="Course" parameterType="int">
		select * from mirukamo_course
		where
		num =#{num}
	</select>

	<!-- 수강 신청 ->값 -> 마이코스 값 가져오기 -->
	<select id="myc" resultType="MyCourse" parameterType="String">
		select * from mirukamo_mycourse
		where
		member_id =#{member_id}
	</select>

	<insert id="ADDClass" parameterType="Course">
		insert into
		mirukamo_mycourse
		(
		num
		,packagename
		,member_id
		,teacher
		,languages
		)
		values
		(
		mirukamo_mycourse_seq.nextval
		,#{packagename}
		,#{member_id}
		,#{teacher}
		,#{languages}
		)
	</insert>
	
	<select id="getPackageInfo" parameterType="string" resultType="Course">
	select * from mirukamo_package_info
	where packagename=#{packagename}
	</select>

	

	
	<select id="getTeacherInfo" parameterType="Course" resultType="Course">
	select *
from mirukamo_course
where  teacher = #{teacher}
and packagename =#{packagename,jdbcType=VARCHAR}
order by num,packagename
	</select>
		
<!-- 특정넘버 수강 가져오기 -->
	<select id="selectNumCourse" resultType="Course" parameterType="int">
		select * from mirukamo_course
		where
		num =#{num}
	</select>
<!-- 특정패키지 수강 가져오기 -->
	<select id="selectPackCourse" resultType="Course" parameterType="string">
		select * from mirukamo_course
		where
		packagename =#{packagename}
		order by num
	</select>
<!-- 수강 신청중인지 확인하기 -->
	<select id="checkCourse" resultType="MyCourse" parameterType="MyCourse">
		select
			*
		from mirukamo_mycourse
		where
		 member_id=#{member_id,jdbcType=VARCHAR} and
         packagename in (
            select
                packagename
            from mirukamo_course
            where  num=#{num})

	</select>
</mapper>