<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 검색 처리 SQL -->
<mapper namespace="com.mirukamo.ai.dao.CourseMapper">
<select id = "selectCourse" resultType = "Course">
	select * from mirukamo_course
	</select>

<insert id="insertCourse" parameterType="Course">
insert into mirukamo_course (
num
,title
,teacher
,languages
,file_name
,thumnail
)
values (
mirukamo_course_seq.nextval
,#{title}
,#{teacher}
,#{languages}
,#{file_name}
,#{thumnail}
)
</insert>

</mapper>