<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 검색 처리 SQL -->
<mapper namespace="com.mirukamo.ai.dao.DrillMapper">

<!-- 문제 가져오기 전체 출력 -->
<select id="getword" resultType="drill">
select * from mirukamo_drill
</select>


</mapper>